.overlay {
	height: 100vh;
	width: 100vw;
	position: fixed;
	backdrop-filter: blur(3px);
	inset: 0;
	z-index: 9999;
}

.modal__card {
	background-color: rgb(255, 255, 255);
	max-width: 500px;
	margin: auto;
	position: absolute;
	inset: 0;
	max-height: fit-content;
	border-radius: 10px;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
	padding: 0rem 1.2rem 1.2rem 1.2rem;
}

.modal__title {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 1rem;
}

.modal__title > svg {
	cursor: pointer;
	padding: 8px;
}

.modal__title > svg:hover {
	background: #f4f4f4;
	border-radius: 50%;
}

