button {
	background: orange;
	padding: 0.3rem 1rem 0.3rem 1rem;
	cursor: pointer;
	position: relative;
}

button:hover {
	opacity: 0.9;
}

.loader__container {
	position: absolute;
	inset: 0;
	margin: auto;
	width: 100%;
	height: 100%;
	background: orange;
}

.button__loader {
	height: 1.2rem;
	margin-top: 0.2rem;
	-webkit-animation: spin 1s infinite linear;
	animation: spin 1s infinite linear;
}

@-moz-keyframes spin {
	from {
		-moz-transform: rotate(0deg);
	}
	to {
		-moz-transform: rotate(360deg);
	}
}
@-webkit-keyframes spin {
	from {
		-webkit-transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(360deg);
	}
}
@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
